<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="gov.pnnl.cat.core.resources.springBeanProviderExtension"
         name="gov.pnnl.cat.core.resources.springBeanProviderExtension"
         point="gov.pnnl.cat.core.resources.springBeanProvider">
      <springBeanProvider configLocation="config/tif-services.xml"/>      
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="gov.pnnl.velo.uircp.perspectives.Dashboard"
            icon="icons/16x16/home.png"
            id="gov.pnnl.velo.uircp.perspectives.Dashboard"
            name="Home">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="gov.pnnl.velo.uircp.views.category"
            name="Velo">
      </category>
      <view
            category="gov.pnnl.velo.ui.views.category"
            allowMultiple="true"
            class="gov.pnnl.velo.uircp.views.ResourceBrowserView"
            id="gov.pnnl.velo.uircp.views.BrowserView"
            icon="icons/16x16/help_earth.png"
            name="Browser View"
            restorable="true">
      </view>      
      <view
	        category="gov.pnnl.velo.ui.views.category"
            class="gov.pnnl.velo.uircp.views.AboutVelo"
            icon="icons/16x16/find.png"
            id="gov.pnnl.velo.uircp.views.AboutVelo"
            name="About Velo"
            restorable="true">
      </view>
      <view
            category="gov.pnnl.velo.ui.views.category"
            class="gov.pnnl.velo.uircp.views.DashboardView"
            id="gov.pnnl.velo.uircp.views.DashboardView"
            name="SBRSFA Dashboard"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
   </extension>
   <extension
         point="gov.pnnl.velo.summaryViewSectionFactory">
      <SummaryViewSectionFactory
            class="gov.pnnl.velo.ui.views.summary.sections.GeneralSectionProvider">
      </SummaryViewSectionFactory>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            name="Unwanted Menus"
            id="activity.unwantedEclipseMenus">
      </activity>
      <activityPatternBinding
            activityId="activity.unwantedEclipseMenus"
            pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.gotoNextAnnotation">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="activity.unwantedEclipseMenus"
            pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.gotoPreviousAnnotation">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="activity.unwantedEclipseMenus"
            pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.gotoLastEditPosition">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="activity.unwantedEclipseMenus"
            pattern="org.eclipse.ui.editors/org.eclipse.ui.edit.text.delimiter.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="activity.unwantedEclipseMenus"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.openLocalFile">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="activity.unwantedEclipseMenus"
            pattern="org.eclipse.search/org.eclipse.search.OpenSearchDialogPage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="activity.unwantedEclipseMenus"
            pattern="org.eclipse.search/org.eclipse.search.OpenSearchDialog">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="activity.unwantedEclipseMenus"
            pattern="gov.pnnl.cat.ui.rcp/gov.pnnl.cat.ui.rcp.perspectives.AdminDataBrowser">
      </activityPatternBinding> 
      <activityPatternBinding
            activityId="activity.unwantedEclipseMenus"
            pattern="gov.pnnl.cat.ui.rcp/gov.pnnl.cat.ui.rcp.perspectives.EditorPerspective">            
      </activityPatternBinding>       
      <activityPatternBinding
            activityId="activity.unwantedEclipseMenus"
            pattern="org.eclipse.wst.xml.ui/org.eclipse.wst.xml.ui.perspective">
      </activityPatternBinding> 
       
   </extension>
   <extension
         id="gov.pnnl.velo.util.VeloTreeRootProvider"
         point="gov.pnnl.cat.ui.rcp.treeRootProvider">
      <treeRootProvider
            class="gov.pnnl.velo.util.VeloTreeRootProvider">
      </treeRootProvider>
   </extension>
   <extension
         point="gov.pnnl.cat.ui.rcp.supportEmailAddressProvider">
        <supportEmailAddressProvider
            fromEmailDomain="pnnl.gov"
            toAddress="Xingyuan.Chen@pnnl.gov">
      </supportEmailAddressProvider>
   </extension>
   <extension
         point="gov.pnnl.cat.ui.rcp.supportEmailAddressProvider">
        <supportEmailAddressProvider
            fromEmailDomain="pnnl.gov"
            toAddress="Huiying.Ren@pnnl.gov">
      </supportEmailAddressProvider> 
   </extension>
   <extension
         point="gov.pnnl.cat.ui.rcp.documentLibraryPerspectiveProvider">
      <documentLibraryPerspectiveProvider
            class="gov.pnnl.velo.uircp.DocumentLibraryPerspectiveProvider">
      </documentLibraryPerspectiveProvider>
   </extension>
   <extension
         id="MyRecentEdits"
         point="gov.pnnl.cat.ui.rcp.smartFolderProvider">
      <SmartFolderProvider
            class="gov.pnnl.velo.smart.folder.provider.MyRecentEdits">
      </SmartFolderProvider>
   </extension>
   
</plugin>
