<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="customExportBehavior" name="customExportBehavior" schema="schema/customExportBehavior.exsd"/>
   <extension-point id="summaryViewSectionFactory" name="Summary View Section Factory" schema="schema/summaryViewSectionFactory.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="gov.pnnl.velo.ui.commands.NewTeam"
            defaultHandler="gov.pnnl.velo.ui.commands.NewTeam"
            name="New Team">
      </command>
      <command
            id="gov.pnnl.velo.ui.commands.NewUser"
            defaultHandler="gov.pnnl.velo.ui.commands.NewUser"
            name="New User">
      </command>
      <command
            id="gov.pnnl.velo.ui.commands.CreateFolder"
            name="Create Folder">
      </command>
      <command
            id="gov.pnnl.velo.ui.commands.ImportFiles"
            name="Import Files">
      </command>
      <command
            id="gov.pnnl.velo.ui.commands.ExportFiles"
            defaultHandler="gov.pnnl.velo.ui.commands.ExportFiles"
            name="Export Files">
      </command>      
   </extension>
   <extension
         point="org.eclipse.ui.menus">     
      <menuContribution
            locationURI="menu:file?after=new.ext">
         <command
               commandId="gov.pnnl.velo.ui.commands.CreateFolder"
               icon="icons/16x16/folder_add.png"
               label="New Folder"
               style="push"
               tooltip="New Folder">
         </command>   
         <separator
                  name="velo.new.ext">
         </separator>                  
      </menuContribution>
      <menuContribution
            locationURI="menu:file?after=import.ext">
         <command
               commandId="gov.pnnl.velo.ui.commands.ImportFiles"
               icon="icons/16x16/folder_into.png"
               label="Import Files"
               style="push"
               tooltip="Import Files">
         </command>
         <command
               commandId="gov.pnnl.velo.ui.commands.ExportFiles"
               icon="icons/16x16/folder_out.png"
               label="Export Files"
               style="push"
               tooltip="Export Files">
         </command>                  
      </menuContribution>  
	   <menuContribution
	         locationURI="popup:gov.pnnl.cat.search.ui.SearchResultsView?after=open">         
         <command
               commandId="gov.pnnl.velo.ui.commands.ExportFiles"
               icon="icons/16x16/folder_out.png"
               label="Export Files"
               style="push"
               tooltip="Export Files">
         </command> 
	   </menuContribution>        
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="gov.pnnl.velo.toolbar"
               label="Velo">
              <separator
                  name="velo.new.ext">
              </separator> 
              <separator
                  name="velo.open.ext">
              </separator> 
         </toolbar>
      </menuContribution> 
      <menuContribution
            locationURI="toolbar:gov.pnnl.cat.ui.rcp.views.team?after=additions">
         <command
               commandId="gov.pnnl.velo.ui.commands.NewTeam"
               icon="icons/16x16/add.png"
               label="New Team"
               style="push"
               tooltip="New Team">
         </command>             
      </menuContribution>
      <menuContribution
            locationURI="toolbar:gov.pnnl.cat.ui.rcp.views.users?after=additions">
         <command
               commandId="gov.pnnl.velo.ui.commands.NewUser"
               icon="icons/16x16/add.png"
               label="New User"
               style="push"
               tooltip="New User">
         </command>             
      </menuContribution> 
      <menuContribution
         locationURI="popup:org.eclipse.ui.popup.any?after=new">
         <command
               commandId="gov.pnnl.velo.ui.commands.CreateFolder"
               icon="icons/16x16/folder_add.png"
               label="New Folder"
               style="push"
               tooltip="New Folder">
         </command> 
         <separator
                  name="velo.new.ext">
         </separator>  
      </menuContribution>   
      <menuContribution
         locationURI="popup:org.eclipse.ui.popup.any?after=openIn">
         <command
               commandId="gov.pnnl.velo.ui.commands.ImportFiles"
               icon="icons/16x16/folder_into.png"
               label="Import Files"
               style="push"
               tooltip="Import Files">
         </command>
         <command
               commandId="gov.pnnl.velo.ui.commands.ExportFiles"
               icon="icons/16x16/folder_out.png"
               label="Export Files"
               style="push"
               tooltip="Export Files">
         </command>         
      </menuContribution>                        
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="gov.pnnl.velo.ui.expressions.HasMimetypePropertyTester"
            id="gov.pnnl.velo.ui.hasMimetype"
            namespace="gov.pnnl.velo.ui"
            properties="hasMimetype"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
      <propertyTester
            class="gov.pnnl.velo.ui.expressions.HasAspectPropertyTester"
            id="gov.pnnl.velo.ui.hasAspect"
            namespace="gov.pnnl.velo.ui"
            properties="hasAspect"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
      <propertyTester
            class="gov.pnnl.velo.ui.expressions.IsFolderPropertyTester"
            id="gov.pnnl.velo.ui.isFolder"
            namespace="gov.pnnl.velo.ui"
            properties="isFolder"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
      <propertyTester
            class="gov.pnnl.velo.ui.expressions.HasViewPropertyTester"
            id="gov.pnnl.velo.ui.hasView"
            namespace="gov.pnnl.velo.ui"
            properties="hasView"
            type="org.eclipse.jface.viewers.IStructuredSelection">
      </propertyTester>
   </extension>      
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="gov.pnnl.velo.ui.commands.CreateFolder"
            commandId="gov.pnnl.velo.ui.commands.CreateFolder">
         <activeWhen>
            <with
                  variable="selection">
               <test
                     forcePluginActivation="true"
                     property="gov.pnnl.velo.ui.isFolder"
                     value="true">
               </test>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="gov.pnnl.velo.ui.commands.ImportFiles"
            commandId="gov.pnnl.velo.ui.commands.ImportFiles">
         <activeWhen>
            <with
                  variable="selection">
               <test
                     forcePluginActivation="true"
                     property="gov.pnnl.velo.ui.isFolder"
                     value="true">
               </test>
            </with>
         </activeWhen>
      </handler>               
   </extension>
   <extension
         point="org.eclipse.ui.views">

      <view
            allowMultiple="true"
            category="gov.pnnl.cat.ui.rcp.datamanagementcategory"
            class="gov.pnnl.velo.ui.views.SummaryView"
            icon="icons/16x16/view_detailed.png"
            id="gov.pnnl.velo.ui.views.SummaryView"
            name="Summary"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="gov.pnnl.velo.category.tools"
            class="gov.pnnl.velo.ui.views.MyJobsView"
            icon="icons/16x16/view_detailed.png"
            id="gov.pnnl.velo.ui.views.MyJobsView"
            name="My Jobs"
            restorable="true">
      </view> 
      <view
            category="gov.pnnl.cat.ui.rcp.datamanagementcategory"
            class="gov.pnnl.velo.ui.views.ScratchPadView"
            icon="icons/16x16/notebook.png"
            id="gov.pnnl.velo.ui.views.ScratchPadView"
            name="Scratch Pad"
            restorable="true">
      </view>
      <category
            id="gov.pnnl.velo.category.tools"
            name="Tool Management">
      </category>
   </extension>

<extension
         point="org.eclipse.ui.activities">
      <activity
            name="Unwanted Menus"
            id="activity.unwantedEclipseMenus">
      </activity>
      <activityPatternBinding
            activityId="activity.unwantedEclipseMenus"
            pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.gotoNextAnnotation">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="activity.unwantedEclipseMenus"
            pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.gotoPreviousAnnotation">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="activity.unwantedEclipseMenus"
            pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.gotoLastEditPosition">
      </activityPatternBinding>   
      <activityPatternBinding
            activityId="activity.unwantedEclipseMenus"
            pattern="org.eclipse.team.*">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="activity.unwantedEclipseMenus"
            pattern="org.eclipse.ui.editors/org.eclipse.ui.edit.text.delimiter.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="activity.unwantedEclipseMenus"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.openLocalFile">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="activity.unwantedEclipseMenus"
            pattern="org.eclipse.search/org.eclipse.search.OpenSearchDialogPage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="activity.unwantedEclipseMenus"
            pattern="org.eclipse.search/org.eclipse.search.OpenSearchDialog">
      </activityPatternBinding>
   </extension>

</plugin>
