body {
	background: url(./tutorials_wtr2.jpg);
	background-repeat: no-repeat;
	font-size: 11pt;
	font-family:Calibri, Verdana, Arial, Helv, Helvetica, sans-serif;
	margin:0px;
}
h1 {
	text-align: center; 
	/*color: #194c7f;*/
	background-color: #dddddd;
	font-size: 13pt; 
	height: 30px;
	padding: 5px;
	font-weight:600;
	margin: 0 0;
	font-family: Segoe UI, Verdana, Arial, Helv, Helvetica, sans-serif;
}
h2 {
	font-size: 11.5pt; 
	font-family:Segoe UI, Verdana, Arial, Helv, Helvetica, sans-serif;
	/*background-color:#99b4d1;*/
	background: url(./fadedBar3.png);
	background-repeat: repeat-x;
	padding: 5;
	/*color: #194c7f;*/
	color: #005076;
}

h3 {font-size: 11pt; font-family:Segoe UI, Verdana, Arial, Helv, Helvetica, sans-serif;}

div#wrapper {
	width: 100%;
}

ul {
	list-style: none;
	margin-top: 0px;
}

li {
	background-image: url(./migrate16.png);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 7px 0 0px 20px;
	margin: 0 0;
}

li.l2 {
	background-image: url(./bullet_black.png);
	background-repeat: no-repeat;
	background-position: 16px 50%;
	padding: 0 0 0 32px;
	margin: 0 0;
}

p {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.floatright { 
	float: right;
	margin: 0 0 10px 10px;
	padding: 2px;
}

a:link {
	color: #000;
	text-decoration:none;
} /* unvisited link */

a:visited {
	color: #000;
	text-decoration:none;
} /* visited link */

a:hover {
	color: blue;
	text-decoration:none;
} /* mouse over link */

a:active {
	color: #000;
	text-decoration:none;
} /* selected link */